.verde {
  background-color: #19766c;
}

.fa.fa-phone {
  content: "\f095";
  font-size: 20px;
  margin-right: 8px;
  margin-top: 4px;
  color: white;
}

.font-bold {
  font-weight: 700;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

.start {
  font-size: 18px;
  letter-spacing: 1px;
  padding: 20px;
}

.logo {
  padding-left: 6rem;
}

.icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 10px;
}

.nav_link {
  color: #19766c !important;
  margin-right: 20rem;
}

.nav-link:hover {
  color: rgb(134, 188, 112) !important;
  padding-bottom: 0%;
  border-bottom: dotted;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.navbar-collapse {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dropdown-menu.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin-left: -11rem !important;
}

@media screen and (min-width: 200px) and (max-width: 650px) {
  .dropdown-menu.show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.letra-verde {
  color: #19766c !important;
}

.social-networks a {
  text-decoration: none;
  margin-right: 14px;
}
.social-networks a .fa-facebook {
  color: #19766c;
  padding: 6%;
  padding-left: 3%;
  padding-right: 3%;
  border: 0.09rem solid;
  border-radius: 100%;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.social-networks a .fa-facebook:hover {
  color: white;
  background-color: rgb(199, 214, 133);
  border: 0.09rem solid;
  border-radius: 50%;
  border-color: #fff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.social-networks a .fa-instagram {
  color: #19766c;
  padding: 6%;
  padding-left: 3%;
  padding-right: 3%;
  border: 0.09rem solid;
  border-radius: 100%;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.social-networks a .fa-instagram:hover {
  color: white;
  background-color: rgb(199, 214, 133);
  border: 0.09rem solid;
  border-radius: 50%;
}
.social-networks a .fa-youtube {
  color: #19766c;
  padding: 6%;
  padding-left: 3%;
  padding-right: 3%;
  border: 0.09rem solid;
  border-radius: 100%;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
}
.social-networks a .fa-youtube:hover {
  color: white;
  background-color: rgb(199, 214, 133);
  border: 0.09rem solid;
  border-radius: 50%;
}

@media screen and (min-width: 200px) and (max-width: 700px) {
  #menu {
    height: 64px;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  #menu a {
    margin-left: 3%;
    padding: 2%;
  }
}
@media (min-width: 701px) {
  #menu {
    height: 64px;
  }
}

.content2 {
  height: 600px;
}

.content3 {
  -o-object-fit: contain;
     object-fit: contain;
}

.head-left-letters {
  bottom: 0;
  left: 0;
  padding: 0 30px;
  text-align: left;
  width: 100%;
  padding-bottom: 22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.life {
  font-family: "life", sans-serif !important;
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.en-el-lugar {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.contacto {
  background-color: #fff;
  border-radius: 50px;
  color: #81b47c;
  display: inline-block;
  font-size: 1.375rem;
  font-weight: 700;
  padding: 10px 20px;
  padding-top: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.contacto:hover {
  background-color: #19766c;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#head-1 {
  width: 100%;
  height: auto;
  position: static;
}

@media screen and (min-width: 200px) and (max-width: 700px) {
  #head-1 {
    height: 345px !important;
  }
}
@media screen and (min-width: 701px) and (max-width: 1101px) {
  #head-1 {
    height: 400px !important;
  }
}
.big-tittle {
  font-size: 5.05rem;
  line-height: 88px;
  letter-spacing: 5px;
}

@media screen and (min-width: 200px) and (max-width: 700px) {
  .big-tittle {
    font-size: 4.075rem;
    line-height: 70.35px;
    letter-spacing: 5px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1101px) {
  .big-tittle {
    font-size: 4.075rem;
    line-height: 70.35px;
    letter-spacing: 5px;
  }
}
@media screen and (min-width: 1102px) and (max-width: 1200px) {
  .big-tittle {
    font-size: 5.075rem;
    line-height: 88.35px;
    letter-spacing: 5px;
  }
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  .head-left-letters .letters1 {
    position: absolute;
    top: 3rem;
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 701px) and (max-width: 1100px) {
  .head-left-letters .letters1 {
    position: absolute;
    top: 2rem;
    width: 100%;
    left: 10px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .head-left-letters {
    padding-bottom: 11rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.cont-1 {
  letter-spacing: 2px;
  color: #19766c;
  font-family: "quicksand", sans-serif;
  font-size: 3rem;
  margin-top: 1.5rem;
}

.cont-2 {
  letter-spacing: 3px;
  color: #19766c;
  font-weight: 500;
  font-family: "quicksand", sans-serif;
  font-size: 3rem;
}

.services {
  position: relative;
  margin-top: -2rem;
}

@media (min-width: 200px) and (max-width: 700px) {
  .cont-1 {
    letter-spacing: 2px;
    color: #19766c;
    font-family: "quicksand", sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1.8rem;
  }
}
@media (min-width: 701px) and (max-width: 1100px) {
  .cont-1 {
    letter-spacing: 2px;
    color: #19766c;
    font-family: "quicksand", sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 2.2rem;
  }
}
@media (min-width: 1101px) {
  .cont-1 {
    letter-spacing: 2px;
    color: #19766c;
    font-family: "quicksand", sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 2.2rem;
  }
}

@media (min-width: 200px) and (max-width: 700px) {
  .cont-2 {
    letter-spacing: 1px;
    color: #19766c;
    font-weight: 500;
    font-family: "quicksand", sans-serif;
    font-size: 2rem;
  }
}
@media (min-width: 701px) and (max-width: 1100px) {
  .cont-2 {
    letter-spacing: 3px;
    color: #19766c;
    font-weight: 500;
    font-family: "quicksand", sans-serif;
    font-size: 2rem;
  }
}
@media (min-width: 1101px) {
  .cont-2 {
    letter-spacing: 5px;
    color: #19766c;
    font-weight: 500;
    font-family: "quicksand", sans-serif;
    font-size: 1.8rem;
  }
}

.vineta1 {
  margin-left: 6rem;
}

.vineta2 {
  margin-left: 2rem;
}

@media (min-width: 200px) and (max-width: 800px) {
  .line-v {
    display: none;
    border-left: 1px solid rgba(0, 128, 0, 0.7607843137);
    height: 89px;
    margin-left: 18rem;
    margin-top: -8rem;
  }
}
@media (min-width: 801px) {
  .line-v {
    display: inline-block;
    border-left: 1px solid rgba(0, 128, 0, 0.7607843137);
    height: 95px;
    margin-left: 15rem;
    margin-top: -6rem;
  }
}

.vl {
  display: inline-block;
  border-left: 1px solid rgba(0, 128, 0, 0.7607843137);
  height: 96px;
  margin-left: 37rem;
  margin-top: 43rem;
}

@media (min-width: 200px) and (max-width: 800px) {
  .vl {
    display: none;
    border-left: 1px solid rgba(0, 128, 0, 0.7607843137);
    height: 109px;
    margin-left: 22rem;
    margin-top: 40rem;
  }
}
@media (min-width: 801px) and (max-width: 1100px) {
  .vl {
    display: inline-block;
    border-left: 1px solid rgba(0, 128, 0, 0.7607843137);
    height: 109px;
    margin-left: 21rem;
    margin-top: 40rem;
  }
}

@media (min-width: 200px) and (max-width: 770px) {
  .sheet-1,
.sheet-2 {
    position: absolute !important;
    opacity: 0.3;
    width: 50% !important;
  }
}
@media (min-width: 771px) {
  .sheet-1,
.sheet-2 {
    position: relative !important;
  }
}

.green1 {
  position: relative;
  height: 450px;
  width: 574px;
  background-color: #c7d684;
}

@media (min-width: 200px) and (max-width: 701px) {
  .green1 {
    display: none;
  }
}
@media (min-width: 702px) and (max-width: 1100px) {
  .green1 {
    position: relative;
    height: 450px;
    width: 346px;
    margin-top: 2rem;
  }
}

.green2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: green;
  top: -22rem;
  left: 91px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: end;
      align-content: end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -28rem;
  margin-top: -28rem;
}

@media (min-width: 200px) and (max-width: 700px) {
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    margin-top: -12rem;
  }
}
@media (min-width: 701px) and (max-width: 1100px) {
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    margin-top: -28rem;
    margin-left: 23rem;
  }
}
@media (min-width: 1101px) {
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: end;
        align-content: end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -32rem;
    margin-top: -28rem;
  }
}

.list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  z-index: 9999999;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: -29rem;
  margin-left: 1rem;
}

@media (min-width: 200px) and (max-width: 700px) {
  .list1 {
    margin-top: 1rem;
  }
}

.learm-more {
  position: relative;
  border: 2px solid #81b47c;
  border-radius: 0;
  width: 90%;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: none;
  margin-left: 3rem;
}

@media (min-width: 200px) and (max-width: 350px) {
  .learm-more {
    position: relative;
    margin: 0 auto;
    margin-top: 180px;
  }
}
@media (min-width: 351px) and (max-width: 499px) {
  .learm-more {
    position: relative;
    margin: 0 auto;
    margin-top: 230px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .learm-more {
    position: relative;
    margin: 0 auto;
    margin-top: 5px;
    margin-left: -2rem;
  }
}
@media (min-width: 701px) and (max-width: 1100px) {
  .learm-more {
    position: relative;
    margin: 0 auto;
    margin-left: 2rem;
    width: 74%;
    height: 104px;
  }
}
@media (min-width: 1101px) {
  .learm-more {
    position: relative;
    margin: 0 auto;
  }
}

.img-grandmothers {
  position: relative;
  top: 0rem;
  left: 0rem;
}

@media (min-width: 200px) and (max-width: 700px) {
  .img-grandmothers {
    position: relative;
    top: 5px;
    right: 0;
    margin-top: 17rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: -3rem;
  }
}
@media (min-width: 701px) and (max-width: 1100px) {
  .img-grandmothers {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 576px;
    margin-top: -11px;
    margin-left: -1rem;
  }
}
@media (min-width: 1101px) {
  .img-grandmothers {
    position: relative;
    top: 0rem;
    left: 0rem;
  }
}

.learm-more1 {
  position: absolute;
  background-color: #81b47c;
  color: #fff;
  font-size: 1.375rem;
  padding: 4px;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 50px;
  margin-top: 67px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

@media (min-width: 701px) and (max-width: 1100px) {
  .learm-more1 {
    margin-top: 100px;
  }
}

.learm-more1:hover {
  background-color: #19766c;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services1 {
  margin-left: 0rem;
  line-height: 8px;
  margin-top: 0rem;
}

.residential {
  font-size: 2.2rem;
  margin-top: 1rem;
}

.title-h2 {
  font-size: 2.5rem;
  line-height: 40px;
  margin-top: -5rem;
  margin-left: 39rem;
  line-height: 40px;
}

@media (min-width: 200px) and (max-width: 700px) {
  .title-h2 {
    font-size: 2.5rem;
    line-height: 40px;
    margin-top: 23rem;
    margin-left: 14rem;
    line-height: 40px;
  }
}

.title-h3 {
  font-size: 2.375rem;
  line-height: 25px;
  letter-spacing: 2px;
  margin-left: 39rem;
}

@media (min-width: 200px) and (max-width: 700px) {
  .title-h3 {
    font-size: 2.375rem;
    line-height: 25px;
    letter-spacing: 2px;
    margin-left: 14rem;
    opacity: 0.6;
  }
}

.green-1 {
  position: relative;
  height: 450px;
  width: 574px;
  margin-top: 3rem;
  margin-left: 17rem;
  background-color: #c7d684;
}

@media (min-width: 200px) and (max-width: 701px) {
  .green-1 {
    display: none;
  }
}
@media (min-width: 702px) and (max-width: 1100px) {
  .green-1 {
    position: relative;
    height: 450px;
    width: 346px;
    margin-top: 2rem;
  }
}

.adjust-margin {
  -o-object-fit: contain;
     object-fit: contain;
}

.text-info2 {
  width: 234px;
  margin-left: 14rem;
  line-height: 18px;
}

@media (min-width: 200px) and (max-width: 701px) {
  .text-info2 {
    text-align: right;
    display: block;
    margin: 0;
  }
}

@media (min-width: 701px) and (max-width: 701px) {
  .text-info1 {
    text-align: right;
    display: block;
    margin: 0;
  }
}

.green-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: green;
  top: -22rem;
  left: 91px;
}

@media (min-width: 200px) and (max-width: 700px) {
  .img-grandmothers-1 {
    position: relative;
    top: 5px;
    right: 0;
    margin-top: 11rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: -3rem;
  }
}
@media (min-width: 701px) and (max-width: 1100px) {
  .img-grandmothers-1 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 172px;
    margin-left: -3rem;
    width: 576px;
  }
}
@media (min-width: 1101px) {
  .img-grandmothers-1 {
    position: relative;
    top: 11rem;
    left: 3rem;
  }
}

.learm-more2 {
  position: relative;
  border: 2px solid #81b47c;
  border-radius: 0;
  width: 90%;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: none;
  margin-left: 7rem;
}

@media (min-width: 200px) and (max-width: 350px) {
  .learm-more2 {
    position: relative;
    margin: 0 auto;
    margin-top: 180px;
  }
}
@media (min-width: 351px) and (max-width: 499px) {
  .learm-more2 {
    position: relative;
    margin: 0 auto;
    margin-top: 230px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .learm-more2 {
    position: relative;
    margin: 0 auto;
    margin-top: 5px;
    margin-left: -2rem;
  }
}
@media (min-width: 701px) and (max-width: 1100px) {
  .learm-more2 {
    position: relative;
    margin: 0 auto;
    margin-left: 1rem;
    top: 1px;
    width: 400px;
    height: 100px;
  }
}
@media (min-width: 1101px) {
  .learm-more2 {
    position: relative;
    margin: 0 auto;
    top: 175px;
    width: 684px;
    margin-left: 7rem;
  }
}

.learm-more-button {
  position: absolute;
  background-color: #81b47c;
  color: #fff;
  font-size: 1.375rem;
  padding: 4px;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 50px;
  margin-top: 91px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.learm-more-button:hover {
  background-color: #19766c;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}