.verde {
  background-color: #19766c;
}

.fa.fa-phone {
  content: "\f095";
  font-size: 20px;
  margin-right: 8px;
  margin-top: 4px;
  color: white;
}

.font-bold {
  font-weight: 700;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}
.start {
  font-size: 18px;
  letter-spacing: 1px;
  padding: 20px;
}
.logo {
  padding-left: 6rem;
}

.icon-text {
  display: flex;
  justify-content: end;
  margin: 10px;
}

.nav_link {
  color: #19766c !important;
  margin-right: 20rem;
}
.nav-link:hover {
  color: rgb(134, 188, 112) !important;

  padding-bottom: 0%;
  border-bottom: dotted;
  -webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

.navbar-nav {
  display: flex;
  width: max-content;
  margin: 0 auto;
}
.navbar-collapse {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

// for the images that go in services
.dropdown-menu.show {
  display: flex !important;
  margin-left: -11rem !important;
}
@media screen and (min-width: 200px) and (max-width: 650px) {
  .dropdown-menu.show {
    display: flex !important;
    flex-direction: column;
  }
}

.letra-verde {
  color: #19766c !important;
}
.social-networks {
  // display: flex;
  // justify-content: end;
  a {
    text-decoration: none;
    margin-right: 14px;
    .fa-facebook {
      color: #19766c;
      padding: 6%;
      padding-left: 3%;
      padding-right: 3%;

      border: 0.09rem solid;
      border-radius: 100%;
      -webkit-transition: all 0.5s !important;
      -moz-transition: all 0.5s !important;
      -o-transition: all 0.5s !important;
      transition: all 0.5s !important;
      box-sizing: border-box;
    }
    .fa-facebook:hover {
      color: white;
      background-color: rgb(199, 214, 133);
      border: 0.09rem solid;
      border-radius: 50%;
      border-color: #fff;
      transform: scale(1.2);
    }

    .fa-instagram {
      color: #19766c;
      padding: 6%;
      padding-left: 3%;
      padding-right: 3%;
      border: 0.09rem solid;
      border-radius: 100%;
      -webkit-transition: all 0.5s !important;
      -moz-transition: all 0.5s !important;
      -o-transition: all 0.5s !important;
      transition: all 0.5s !important;
      box-sizing: border-box;
    }

    .fa-instagram:hover {
      color: white;
      background-color: rgb(199, 214, 133);

      border: 0.09rem solid;
      border-radius: 50%;
    }

    .fa-youtube {
      color: #19766c;
      padding: 6%;
      padding-left: 3%;
      padding-right: 3%;

      border: 0.09rem solid;
      border-radius: 100%;
      -webkit-transition: all 0.5s !important;
      -moz-transition: all 0.5s !important;
      -o-transition: all 0.5s !important;
      transition: all 0.5s !important;
    }
    .fa-youtube:hover {
      color: white;
      background-color: rgb(199, 214, 133);
      border: 0.09rem solid;
      border-radius: 50%;
    }
  }
}
#menu {
  @media screen and (min-width: 200px) and (max-width: 700px) {
    height: 64px;
    margin: 0;
    padding: 0;
    background-color: white;
    a {
      margin-left: 3%;
      padding: 2%;
    }
  }
  @media (min-width: 701px) {
    height: 64px;
  }
}
// grandparents
.content2 {
  height: max-content;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  .content2 {
    height: 750px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1100px) {
  .content2 {
    height: 850px;
  }
}
.content3 {
  object-fit: fill;
}
.head-left-letters {
  bottom: 0;
  left: 0;
  padding: 0 30px;
  text-align: left;
  width: 100%;
  padding-bottom: 22rem;
  display: flex;
  justify-content: center;
}

.life {
  font-family: "life", sans-serif !important;
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.en-el-lugar {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.contacto {
  background-color: #fff;
  border-radius: 50px;
  color: #81b47c;
  display: inline-block;
  font-size: 1.375rem;
  font-weight: 700;
  padding: 10px 20px;
  padding-top: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.contacto:hover {
  background-color: #19766c;
  color: #ffffff;
  transition: all 0.3s ease;
}

#head-1 {
  width: 100%;
  height: auto;
  position: static;
}

@media screen and (min-width: 200px) and (max-width: 700px) {
  #head-1 {
    height: 345px !important;
  }
}
@media screen and (min-width: 701px) and (max-width: 1101px) {
  #head-1 {
    height: 365px !important;
  }
}

.big-tittle {
  font-size: 5.05rem;
  line-height: 88px;
  letter-spacing: 5px;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  .big-tittle {
    font-size: 4.075rem;
    line-height: 70.35px;
    letter-spacing: 5px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1101px) {
  .big-tittle {
    font-size: 4.075rem;
    line-height: 70.35px;
    letter-spacing: 5px;
  }
}
@media screen and (min-width: 1102px) and (max-width: 1200px) {
  .big-tittle {
    font-size: 5.075rem;
    line-height: 88.35px;
    letter-spacing: 5px;
  }
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  .head-left-letters {
    .letters1 {
      position: absolute;
      top: 3rem;
      width: 100%;
      text-align: center;
    }
  }
}

@media screen and (min-width: 701px) and (max-width: 1100px) {
  .head-left-letters {
    .letters1 {
      position: absolute;
      top: 2rem;
      width: 100%;
      left: 10px;
      text-align: center;
    }
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .head-left-letters {
    padding-bottom: 11rem;
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
.cont-1 {
  letter-spacing: 2px;
  color: #19766c;

  font-family: "quicksand", sans-serif;
  font-size: 3rem;
  margin-top: 1.5rem;
}
.cont-2 {
  letter-spacing: 3px;
  color: #19766c;
  font-weight: 500;
  font-family: "quicksand", sans-serif;
  font-size: 3rem;
}
.services {
  position: relative;
  margin-top: -5rem;
}
.services {
  @media (min-width: 200px) and (max-width: 700px) {
    position: relative;
    margin-top: 0;
  }
  @media (min-width: 701px) and (max-width: 992px) {
    position: relative;
    margin-top: 0;
  }
}
.cont-1 {
  @media (min-width: 200px) and (max-width: 700px) {
    letter-spacing: 2px;
    color: #19766c;
    font-family: "quicksand", sans-serif;
    box-sizing: border-box;
    font-size: 1.8rem;
  }
  @media (min-width: 701px) and (max-width: 1100px) {
    letter-spacing: 2px;
    color: #19766c;
    font-family: "quicksand", sans-serif;
    box-sizing: border-box;
    font-size: 2.2rem;
  }
  @media (min-width: 1101px) {
    letter-spacing: 2px;
    color: #19766c;
    font-family: "quicksand", sans-serif;
    box-sizing: border-box;
    font-size: 1.7rem;
  }
}
.cont-2 {
  @media (min-width: 200px) and (max-width: 700px) {
    letter-spacing: 1px;
    color: #19766c;
    font-weight: 500;
    font-family: "quicksand", sans-serif;
    font-size: 2rem;
  }
  @media (min-width: 701px) and (max-width: 1100px) {
    letter-spacing: 3px;
    color: #19766c;
    font-weight: 500;
    font-family: "quicksand", sans-serif;
    font-size: 2rem;
  }
  @media (min-width: 1101px) {
    letter-spacing: 5px;
    color: #19766c;
    font-weight: 500;
    font-family: "quicksand", sans-serif;
    font-size: 1.8rem;
  }
}

//img services
.vineta1 {
  margin-left: 6rem;
}
.vineta2 {
  margin-left: 2rem;
}

//sheets
.sheet-1,
.sheet-2 {
  @media (min-width: 200px) and (max-width: 770px) {
    position: absolute !important;
    opacity: 0.3;
    width: 50% !important;
  }
  @media (min-width: 771px) {
    position: relative !important;
  }
}
.green1 {
  position: relative;
  height: 450px;
  width: 100%;

  background-color: #c7d684;
  img {
    width: 100%;
    height: 450px;
  }
}
.green2 {
  position: absolute;
  // width: 100%;
  height: 100%;
  top: 100px;
  left: 20%;
  width: 50vw;
  img {
    width: 100%;
    height: 450px;
  }
  @media (min-width: 200px) and (max-width: 992px) {
    width: 100%;
    left: 0;
  }
}
@media (min-width: 200px) and (max-width: 992px) {
  .green1 {
    height: auto;
    margin-top: -2rem;

    .green2 {
      .img-grandmothers {
        height: auto;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}

@media (min-width: 1101px) {
  .green1 {
    position: relative;
    height: 450px;
    width: 100%;

    background-color: #c7d684;
    img {
      width: 100%;
      height: 450px;
    }
  }
}

@media (min-width: 200px) and (max-width: 992px) {
  .green3 {
    height: auto;
    margin-top: -6rem;

    .green4 {
      .img-grandmothers-1 {
        height: auto;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}

.green3 {
  position: relative;
  height: 450px;
  width: 100%;

  background-color: #c7d684;
  @media (min-width: 200px) and (max-width: 992px) {
    width: 100%;
    background: none;
  }
}
.green4 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100px;
  right: 30%;
  width: 50vw;
  @media (min-width: 200px) and (max-width: 992px) {
    width: 100%;
    right: 0%;
  }
  img {
    width: 100%;
    height: 450px;
  }
}

.list {
  display: flex;
  justify-content: center;
  align-content: end;
  flex-wrap: wrap;
  margin-right: -28rem;
  margin-top: -28rem;
}
.list {
  @media (min-width: 200px) and (max-width: 700px) {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    margin-top: -12rem;
  }
  @media (min-width: 701px) and (max-width: 1100px) {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    margin-top: -28rem;
    margin-left: 23rem;
  }
  @media (min-width: 1101px) {
    display: flex;
    justify-content: center;
    align-content: end;
    flex-wrap: wrap;
    margin-right: -32rem;
    margin-top: -28rem;
  }
}
.list1 {
  display: flex;
  align-content: flex-start;
  z-index: 9999999;
  flex-wrap: wrap;
  width: 100%;
  margin-top: -29rem;
  margin-left: 1rem;
}
.list1 {
  @media (min-width: 200px) and (max-width: 700px) {
    margin-top: 1rem;
  }
}
//div que contiene las lineas y el boton conoce mas
.learm-more {
  position: relative;
  border: 2px solid #81b47c;
  border-radius: 0;
  width: 90%;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: none;

  margin-left: 3rem;
}

.learm-more {
  @media (min-width: 200px) and (max-width: 350px) {
    position: relative;
    margin: 0 auto;
    margin-top: 180px;
  }
  @media (min-width: 351px) and (max-width: 499px) {
    position: relative;
    margin: 0 auto;
    margin-top: 230px;
  }
  @media (min-width: 500px) and (max-width: 700px) {
    position: relative;
    margin: 0 auto;
    margin-top: 0px;
    margin-left: 3rem;
    width: 380px;
    height: 80px;
  }
  @media (min-width: 701px) and (max-width: 1100px) {
    position: relative;
    margin: 0 auto;

    width: 70%;
    height: 80px;
  }
  @media (min-width: 1101px) {
    position: relative;
    margin: 0 auto;
  }
}

.img-grandmothers {
  position: relative;
  top: 0rem;
  left: 0rem;
}

.learm-more1 {
  position: absolute;
  background-color: #81b47c;
  color: #fff;
  font-size: 1.375rem;
  padding: 4px;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 50px;
  margin-top: 63px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
@media (min-width: 500px) and (max-width: 700px) {
  .learm-more {
    position: relative;
    margin: 0 auto;
    margin-top: 0px;
    margin-left: 3rem;
    width: 342px;
    height: 70px;
  }
}

.learm-more1 {
  @media (min-width: 701px) and (max-width: 1100px) {
    margin-top: 88px;
  }
}
.learm-more1:hover {
  background-color: #19766c;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}
//services one
.services1 {
  margin-left: 0rem;
  line-height: 8px;
  margin-top: 0rem;
}
@media (min-width: 200px) and (max-width: 700px) {
  .services1 {
    margin-top: 2rem;
  }
}
@media (min-width: 701px) and (max-width: 1100px) {
  .services1 {
    margin-top: 2rem;
  }
}
.residential {
  // font-size: 2.2rem;
  margin-top: 0.7rem;
}
// services two

.title-h2 {
  font-size: 2.5rem;
  line-height: 40px;
  margin-top: -5rem;
  margin-left: 39rem;
  line-height: 40px;
}
.title-h2 {
  @media (min-width: 200px) and (max-width: 700px) {
    font-size: 2.5rem;
    line-height: 40px;
    margin-top: 23rem;
    margin-left: 14rem;
    line-height: 40px;
  }
}
.title-h3 {
  font-size: 2.375rem;
  line-height: 25px;
  letter-spacing: 2px;
  margin-left: 39rem;
}
.title-h3 {
  @media (min-width: 200px) and (max-width: 700px) {
    font-size: 2.375rem;
    line-height: 25px;
    letter-spacing: 2px;
    margin-left: 14rem;
    opacity: 0.6;
  }
}

.green-1 {
  position: relative;
  height: 450px;
  width: 574px;
  margin-top: 3rem;
  margin-left: 17rem;

  background-color: #c7d684;
}

.adjust-margin {
  object-fit: contain;
  margin: 0;
  padding: 0;
}
.text-info2 {
  width: 234px;
  margin-left: 14rem;
  line-height: 18px;
}

.text-info2 {
  @media (min-width: 200px) and (max-width: 701px) {
    text-align: right;
    display: block;
    margin: 0;
  }
}

.text-info1 {
  @media (min-width: 701px) and (max-width: 701px) {
    text-align: right;
    display: block;
    margin: 0;
  }
}

.green-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: green;
  top: -22rem;
  left: 91px;
}
.learm-more2 {
  position: relative;
  border: 2px solid #81b47c;
  border-radius: 0;
  width: 90%;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: none;

  margin-left: 7rem;
}

.learm-more2 {
  @media (min-width: 200px) and (max-width: 350px) {
    position: relative;
    margin: 0 auto;
    margin-top: 180px;
  }
  @media (min-width: 351px) and (max-width: 499px) {
    position: relative;
    margin: 0 auto;
    margin-top: 230px;
  }
  @media (min-width: 500px) and (max-width: 700px) {
    position: relative;
    margin: 0 auto;
    margin-top: 0px;
    margin-left: 4rem;
    width: 70%;
    height: 70px;
  }
  @media (min-width: 701px) and (max-width: 1100px) {
    position: relative;
    margin: 0 auto;
    margin-left: 4rem;
    top: 0px;
    width: 70%;
    height: 80px;
  }
  @media (min-width: 1101px) {
    position: relative;
    margin: 0 auto;
    top: 0px;
    width: 565px;
    margin-left: 6rem;
  }
}

.learm-more-button {
  position: absolute;
  background-color: #81b47c;
  color: #fff;
  font-size: 1.375rem;
  padding: 4px;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 50px;
  margin-top: 63px;
  text-decoration: none;

  transition: background-color 0.3s ease;
}
.learm-more-button:hover {
  background-color: #19766c;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}
@media (min-width: 701px) and (max-width: 1100px) {
  .learm-more-button {
    margin-top: 88px;
  }
}
.adjust-sheet2 {
  object-fit: contain;
}

.borde-right-green {
  border: 1px solid #19766c;
  border-top: none;
  border-bottom: none;
  border-left: none;
  padding-right: 18px;
}
.borde-right-green {
  @media (min-width: 200px) and (max-width: 700px) {
    border: 0;
  }
  @media (min-width: 701px) and (max-width: 1100px) {
    border: 0;
  }
}

.services-add {
  margin-top: 350px;
}
@media (min-width: 500px) and (max-width: 700px) {
  .services-add {
    margin-top: 400px;
  }
}
@media (min-width: 701px) and (max-width: 998px) {
  .services-add {
    margin-top: 510px;
  }
}

.border-left-green {
  padding-left: 18px;
  border: 1px solid #19766c;
  border-top: none;
  border-bottom: none;
  border-right: none;
}
.border-left-green {
  @media (min-width: 200px) and (max-width: 700px) {
    border: 0;
  }
  @media (min-width: 701px) and (max-width: 1100px) {
    border: 0;
  }
}

@media (min-width: 500px) and (max-width: 998px) {
  .residential-serv {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: -2rem;
    width: 500px;
    margin-left: -3rem;
  }
}

.center-day {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
@media (min-width: 578px) and (max-width: 998px) {
  .center_day {
    display: flex;
  }
}

.company-information {
  background-color: #efefef;
  margin-top: 250px !important;
}

@media (min-width: 200px) and (max-width: 700px) {
  .company-information {
    margin-top: 3rem !important;
  }
}
@media (min-width: 701px) and (max-width: 770px) {
  .company-information {
    margin-top: 7rem !important;
  }
}

@media (min-width: 771px) and (max-width: 992px) {
  .company-information {
    margin-top: 7rem !important;
  }
}

@media (min-width: 200px) and (max-width: 700px) {
  .sheet-information {
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 701px) and (max-width: 992px) {
  .sheet-information {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 200px) and (max-width: 700px) {
  .sheet-company {
    margin-top: -9rem !important;
    width: 100px;
  }
}
@media (min-width: 701px) and (max-width: 992px) {
  .sheet-company {
    margin-top: -12rem !important;
    margin-left: -6rem;
    width: 150px;
  }
}

.learm-more-button1 {
  position: absolute;
  background-color: #81b47c;
  color: #fff;
  font-size: 1.375rem;
  padding: 4px;
  padding-left: 1.8em;
  padding-right: 1.8rem;
  border-radius: 50px;
  margin-top: 12px;
  text-decoration: none;

  transition: background-color 0.3s ease;
}
.learm-more-button1:hover {
  background-color: #19766c;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}
@media (min-width: 200px) and (max-width: 992px) {
  .learm-more-button1 {
    margin-top: -1rem !important;
  }
}
.adjust-img {
  margin-top: -1rem;
}
.gallery {
  margin-top: -3rem;
}
.sheet-company {
  margin-top: -10rem;
}
.gall1-cont {
  height: 100%;
}
.gall1-img {
  height: 100%;
  @media (min-width: 200px) and (max-width: 992px) {
    padding: 5px;
  }
}
.gall3-cont {
  height: 100%;
}
.gall3-img {
  height: 100%;
  @media (min-width: 200px) and (max-width: 992px) {
    padding: 5px;
  }
}
.gall2-cont {
  height: 100%;
}
.gall2-img {
  height: 100%;
  @media (min-width: 200px) and (max-width: 992px) {
    padding: 5px;
  }
}
.gall4-cont {
  height: 100%;
}
.gall4-img {
  height: 100%;
  @media (min-width: 200px) and (max-width: 992px) {
    padding: 5px;
  }
}
.gall6-cont {
  height: 50%;
}
.gall6-img {
  height: 100%;
  @media (min-width: 200px) and (max-width: 992px) {
    padding: 5px;
  }
}
.gall7-cont {
  height: 50%;
}
.gall7-img {
  height: 100%;
  @media (min-width: 200px) and (max-width: 992px) {
    padding: 5px;
  }
}
.gall5-cont {
  height: 100%;
}
.gall5-img {
  height: 100%;
  @media (min-width: 200px) and (max-width: 992px) {
    padding: 5px;
  }
}

.container-news {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  img {
    width: 200px;
  }
}
.notice {
  margin-top: 6rem;
}
.cont-notice {
  height: 330px;
}
.image-notice {
  display: block;
  height: 330px;
  overflow: hidden;
}
.image-notice1 {
  filter: brightness(65%);
  width: 100% !important;
  margin-top: -6rem;
  @media (min-width: 200px) and (max-width: 700px) {
    margin-top: 3rem;
  }
}
.news-info {
  @media (min-width: 200px) and (max-width: 700px) {
    font-size: 16px;
  }
  @media (min-width: 701px) and (max-width: 992px) {
    font-size: 20px;
  }
}
.green-button {
  background-color: #81b47c;
  text-decoration: none;
}
.news-text {
  position: absolute !important;
  left: 10.3125rem;
  bottom: 0;
  width: max-content !important;
  @media (min-width: 200px) and (max-width: 700px) {
    left: 5.0456rem;
  }
  @media (min-width: 701px) and (max-width: 992px) {
    left: 10.0456rem;
  }
}
.date {
  opacity: 0.9;
}
.card-group {
  display: flex;

  margin: 0 auto;
}
.card-group {
  @media (min-width: 200px) and (max-width: 992px) {
    flex-flow: column !important;
  }
}

.see-more {
  margin-left: -5rem;
  @media (min-width: 200px) and (max-width: 500px) {
    margin-top: 0rem !important;
  }
  @media (min-width: 501px) and (max-width: 700px) {
    margin-top: 9rem !important;
  }
  @media (min-width: 701px) and (max-width: 800px) {
    margin-top: 12rem !important;
    margin-left: -6rem;
  }
  @media (min-width: 801px) and (max-width: 992px) {
    margin-top: 20rem !important;
    margin-left: -6rem;
  }
}
.company {
  margin-top: 6rem;
}

.allies-text {
  font-size: 5.5rem;
  color: #c7d684;
  opacity: 0.1;
}
.position-ab {
  position: absolute !important;
  // margin-top: 4.5% !important;
  left: 150px;
  top: 60px;
  @media (min-width: 500px) and (max-width: 700px) {
    left: 57px;
  }
  @media (min-width: 750px) and (max-width: 800px) {
    left: 21.2%;
  }
  @media (min-width: 801px) and (max-width: 992px) {
    left: 120px;
  }
}
@media (min-width: 993px) {
  .line-ver {
    border-right: 1px solid #d3d3d3;
    height: 80px;
    width: 1px;
    display: flex !important;
    position: absolute;
    right: 50%;
    margin-top: 2rem;
  }
}
.line-ver {
  @media (min-width: 200px) and (max-width: 700px) {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 701px) and (max-width: 992px) {
    display: flex;
    flex-direction: column;
  }
}

.tena {
  padding-left: 4rem;
}
.logo-uni {
  padding-left: 2rem;
}
.more-logo {
  width: 100% !important;
  background-color: rgb(239, 239, 239);
  margin-top: 8rem !important;
}
.subsidiary {
  @media (min-width: 200px) and (max-width: 700px) {
    display: flex;
    justify-content: center;
  }
  @media (min-width: 701px) and (max-width: 992px) {
    margin-top: 1rem !important;
  }
}
.guard {
  display: flex;
  justify-content: end;
  margin-left: -5rem;
  @media (min-width: 200px) and (max-width: 500px) {
    margin-left: -8rem;
  }
  @media (min-width: 501px) and (max-width: 700px) {
    margin-left: -8rem;
  }
  @media (min-width: 701px) and (max-width: 760px) {
    margin-left: -16rem;
  }
  @media (min-width: 760px) and (max-width: 992px) {
    margin-left: -24rem;
    margin-top: 5rem !important;
  }
}

.info-more {
  background-color: #81b47c;
  color: #fff;
  font-size: 1.375rem;
  padding: 4px;
  padding-left: 1.8em;
  padding-right: 1.8rem;
  border-radius: 50px;
  margin-top: 12px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.company-contact {
  background-image: (url(../img/contacto.jpg));
  height: 750px;
  background-repeat: no-repeat;
  background-size: 100%;

  overflow: hidden;
}
.contact-us {
  background-color: #86b96a;
  margin-top: 8rem !important;
  margin-left: 8rem;
  height: 250px;
  opacity: 0.9;
  // display: flex;
  // align-items: center;
}
.doubt {
  color: white;
  font-weight: 100;
  text-align: center;
}
.contact-us2 {
  color: white;
  text-align: center;
  margin-top: -2rem;
  margin-left: 2rem;
  font-size: 3.075rem;
}
input {
  border-radius: 150px !important;
}
.form-check-input[type="checkbox"] {
  border-radius: 0.25em !important;
}

.send {
  background-color: #19766c !important;
  border-color: white !important;
  border-radius: 150px !important;
  width: 120px;
}
.send:hover {
  background-color: #86b96a;
  color: #ffffff;
  transition: all 0.3s ease;
}

input[required]:nth-child(4)::placeholder {
  color: #86b96a !important;
}
// input[placeholder*="Obligatorio"]:nth-of-type(2)::placeholder {
//   color: #86b96a !important;
// }
// input[required]:not(:empty)::placeholder {
//   color: #86b96a !important;
// }

// input[required]:nth-of-type(2)::placeholder {
//   color: green;
// }
